
{% include '../blog/nav.html' %}

    <div class="wrapper">

        {% for i in users %}
        {% if i.doctor == "doctor" %}
        <h2>Dashboard, Hi Doctor {{i.user.first_name}}</h2>
        {% else %}
        <h2>Dashboard, Hi {{i.user.first_name}}</h2>
        {% endif %}
    <img src="{{i.image.url}}" alt="">
    
    <div class="content">

        <h3>User Profile</h3>
  
  <table class="table table-striped">
    <thead>
      
    </thead>
    <tbody>
      <tr>
        <td id="t1">Name</td>
        <td>{{i.user.first_name}}</td>
        
    </tr>
      <tr>
        <td id="t1">LastName</td>
        <td>{{i.user.last_name}}</td>

      </tr>
      <tr>
          <td id="t1">username</td>
        <td>{{i.user.username}}</td>

      </tr>
      <tr>
        <td id="t1">email</td>
        <td>{{i.user.email}}</td>

      </tr>
    </tbody>
</table>
      <h3>Address</h3>
    <table class="table table-striped">
        <thead>
          
        </thead>
        <tbody>
    <tr>
        <td id="t1">line no.</td>
        <td>{{i.address}}</td>

      </tr>
      <tr>
        <td id="t1">City</td>
        <td>{{i.city}}</td>
        
    </tr>
    <tr>
        <td id="t1">state</td>
        <td>{{i.state}}</td>
        
    </tr>
    <tr>
        <td id="t1">Area pincode</td>
        <td>{{i.pincode}}</td>
        
    </tr>
</tbody>
</table>
</div>
<a href="{% url 'logout' %}" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-log-out"></span> Log out
  </a>
{% endfor %}
</div>
</body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4f535c;
  flex-direction: column;
}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  margin: 20px;
 
}
    img{
        position: relative;
        height: 120px;
        width: 110px;
        left: 35%;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }
    td{
        text-align: center;
    }
    h3,h2{
        text-align: center;
    }
    #t1{
        font-weight: bolder;
    }
</style>